.general{
	position: relative;
	border: 1px solid;
	margin-top: 22px;
	box-shadow: -3px 10px 43px 1px rgba(0,0,0,0.75);
	margin-right: 30%;
	margin-left: 30%;
	padding-bottom: 1.5%;
}

#titol_afegir{
		background-color: #ffae1f;
		margin-top: 0px;
}

#contacte_afegir{
	text-align: center;
}

iframe{
	display: none;
	margin-left: 30%;
}
h2{
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 30px;
	color: #fff;
}

input{
	border-radius:7px;
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
   	margin-bottom: 20px
}

.button1{
	margin-left: 80%;
	border:none;
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}
#foto_logo{
	margin-left: 42px;
}