.botons{
	
  margin-top: 109px;
  margin-left: 225px;
  margin-right: -5px;
}

#icono-contacte{
  margin-right: 30%;
  margin-left: -61px;
}

    #icono-afegir{
    	margin-right: 30%;
    }

    #icono-eliminar{

    }

#atras{
  float: left;
  margin-top: 26px;
  margin-left: 70px; 
}

#logout{
  float: right;
  margin-top: 26px;
  margin-right: 70px;
}

#search{
	float: right;
	margin-right: 36px;
	margin-top: -47px;
}

input[id=search] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[id=search]:focus {
    width: 15%;
}