.contenidor{
	display: table;
	border: 1px solid #000;
	text-align: center;
	width: 101%;
	height: 122%;
	margin: 0 auto;
}
.filas{
	display: table-row;
}
.columnas{
	display: table-cell;
	border:1px solid #000;
}
.boton{
	border:none;
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}
.anyAnterior,.mesAnterior{
	margin-left:13%; 
}	