#contenidor_taula{
	position: relative;
	margin-top: 9px;
	margin-left: 20px; 
}

#taula{
	width: 100%;
	height: 50px;
	border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

tr:nth-child(even){background-color: #F5D0A9}

th {
    background-color: #ffae1f;
    color: white;
}