header{
	position: absolute;
  	right: 0;
  	top: 0;
  	left: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: #ffae1f;
    -webkit-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    -moz-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    text-align: center;
    height: 100px;
}

h1.principal {
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 48px;
	color: #fff;
}
h2.principal {
	color: #5167CF;
	font-size: 30px;
	font-weight: normal;
	text-transform: capitalize;
	text-align: center;
	margin-top: 50px;
}
div.login{
	background-color: #ffae1f;
	display: block;
	float: left;
	position: absolute;
	top: 25%;
	bottom: 25%;
	left: 25%;
	right: 25%;
	text-align: center;
	box-shadow: -3px 10px 43px 1px rgba(0,0,0,0.75);
	min-height: 350px;
	min-width: 462px;
}

#header {
	float: left;
	width: 100%;
}
form.login {
	margin: 60px 20px 20px 20px;
}
.usrpass{
	margin: 20px;
}
.usrpass input {
	margin: 10px;
	width: 350px;
	height: 40px;
}






footer{
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
    text-align: center;
    font-family: Helvetica, sans-serif;
    -webkit-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    -moz-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
}

#footer{
    background-color: #ffae1f;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
}

.button{
		box-sizing: border-box;
		width: 30%;
		margin-top: 10px;
	}

	.button {
	    -moz-box-shadow: 0px -1px 0px 0px #FF8C00;
	    -webkit-box-shadow: 0px -1px 0px 0px #FF8C00;
	     box-shadow: 0px -1px 0px 0px #FF8C00;
	     background-color:#61380B;
	    -moz-border-radius:28px;
	    -webkit-border-radius:28px;
	     border-radius:28px;
	     border:1px solid #FF8C00;
	     display:inline-block;
	     cursor:pointer;
	     color:#ffffff;
	    font-family:Arial;
	     font-size:17px;
	    font-weight:bold;
	   padding:10px 15px;
	   text-decoration:none;
	    text-shadow:0px 1px 0px #2f6627;
	    
	}
.button:hover {
	background-color:#FF8C00;
}
.button:active {
	position:relative;
	top:1px;
}

input{
	border-radius:7px;
	text-align: center;
	font-size: 16px;
   
}