
/* Capçalera per defecte */
header{
	position: absolute;
  	right: 0;
  	top: 0;
  	left: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: #ffae1f;
    -webkit-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    -moz-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    text-align: center;
    height: 100px;
}

/* Titol de la capçalera */
h1.home {
	color: #fff;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	margin-top: 20px;
}

/* Peu de pagina per defecte */
footer{
	position: relative;
  	right: 0;
  	bottom: 0;
  	left: 0;
    text-align: center;
    font-family: Helvetica, sans-serif;
    -webkit-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    -moz-box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    box-shadow: 2px 4px 43px -11px rgba(69,69,69,0.73);
    border-collapse: collapse;
}
/* Text del peu de pagina */
#footercontacts{
    background-color: #ffae1f;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    margin-top: 31px;
}

.home{
	margin-right: 180px;
}

